#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.todo {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin: 1em 0;
  padding: 0.25em 1em;
}

.todo button {
  margin-right: 20px;
  height: 25px;
  display: flex;
  align-items: center;
}

input {
  margin-right: 1em;
}
